.mxproject
CMakeLists.txt
CMakePresets.json
Core/Src/adc.c
Core/Src/gpio.c
Core/Src/main.c
Core/Src/stm32u0xx_hal_msp.c
Core/Src/stm32u0xx_it.c
Core/Src/syscalls.c
Core/Src/sysmem.c
Core/Src/system_stm32u0xx.c
Core/Src/usart.c
Core/Inc/adc.h
Core/Inc/gpio.h
Core/Inc/main.h
Core/Inc/stm32u0xx_hal_conf.h
Core/Inc/stm32u0xx_it.h
Drivers/
*.ld
cmake/
startup_stm32u083xx.s
